<div class="row mt-4">

    <div class="col-3">
        <!-- Sidebar -->
        Sidebar
    </div>

    <div class="col">
        <!-- Nuestras páginas -->
        <!-- <shared-home-page></shared-home-page> -->
        <!-- <shared-about-page></shared-about-page> -->
        <router-outlet></router-outlet>
        <!-- TODO: router-outlet es un componente que ya viene en angular y sirve para que dependiendo del URL y de la ruta que se encuentra el cliente renderice un componente u otro..  -->
    </div>

</div>